.divider {
    position: relative;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 47px;    
    &:before {
        content: '';
        position: absolute;
        background-color: #fff;
        height: 1px;
        width: 390px;
        bottom: 5px;
        left: 20px;
    }
    &:after {
        content: '';
        position: absolute;
        background-color: #fff;
        height: 1px;
        width: 390px;
        bottom: 5px;
        left: -400px;
    }
}