@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Roboto', 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}
h1, h2 {
    margin-bottom: 0;
}

@import 'blocks/promo/promo';
@import 'blocks/header/header';
@import 'blocks/button/button';
@import 'blocks/menu/menu';
@import 'blocks/hamburger/hamburger';
@import 'blocks/divider/divider';
@import 'blocks/promo/promoMedia';
@import 'blocks/header/headerMedia';
@import 'blocks/button/buttonMedia';
@import 'blocks/menu/menuMedia';
@import 'blocks/hamburger/hamburgerMedia';
@import 'blocks/divider/dividerMedia';