@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .menu {
        &__link {
            margin: 0 6px;
            font-size: 14px;
        }
    }    
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .menu {
        &__link {
            font-size: 12px;
        }
        &__list {
            padding-left: 0;
        }
    }    
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .menu {
        &__list {
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            top: 0;
            left: -100%;
            width: 50%;
            height: 100vh;
            padding: 20px 15px;
            background-color: rgba(0,0,0, 0.8);
            transition: 0.6s all;
            &_active {
                left: 0;
            }    
        }
    }   
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}