@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .menu {
        &__link {
            margin: 0 6px;
            font-size: 14px;
        }
    }    
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .menu {
        &__link {
            font-size: 12px;
        }
        &__list {
            padding-left: 0;
        }
    }    
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .menu {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        padding: 0;
        background-color: rgba(236,100,75,.9);
        z-index: 500;
        align-items: center;
        z-index: 50;
        justify-content: space-between;
        transition: left .6s linear;
        &.active {
            left: 0;
        }
        &__list {
            flex-direction: column;
            padding: 71px 15px;
            margin-bottom: 0;
        }
        &__close {
            display: block;
            position: absolute;
            top: 2px;
            right: 15px;
            font-size: 40px;
            transition: .4s;
            &:hover {
                transform: scale(1.2);
            }
        }
        &__item {
            margin-bottom: 25px;
            border-right: none;
        }
        &__link {
            font-size: 22px;
            color: #000;
            font-weight: 700;
            &:hover {
                color: #fff;
            }
        }
    }   
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
    .menu {
        width: 100%;
    }
}