@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }    
}

@media (max-width: 992px) {
    .container {
        max-width: 720px;
    }
    .button {
        width: 150px;
        height: 40px;
        &__main {
            font-size: 12px;
            margin-top: 60px;
        }
    }    
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }   
}

@media (max-width: 576px) {
    .container {
        width: 100%;
        padding: 0 10px;
    }
}